* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='6'><path d='M0 0l5 6 5-6z' fill='%235B7186'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c7d2dc;
  border-radius: 4px;
}
